
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
}

/* 
==================================================================
                            typhography
==================================================================
*/

body{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

/* 
==================================================================
                            Container
==================================================================
*/

.error-message {
    color: red;
    font-size: .90rem;
}

.container {
    width: 95%;
    max-width: 980px;
    margin: 0 auto;
    /* height: 750px; */
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
}

.title h1{
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
}

.title p {
    margin-top: .650em;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.form-container {
    order: 2;
    max-width: 100%;
    justify-content: center;
    text-align: center;
}

.form-container p {
    margin-top: 1em;
    font-weight: 400;
    text-align: left;
    font-style: italic;
}

.form-container a {
    text-decoration: none;
}

.form-container h1 {
    font-size: 2.3rem;
    margin-top: 1em;
    padding-bottom: .50em;
    font-weight: 800;
    text-align: left;
}

.container-img {
    margin-top: 3em;
    max-width: 100%;
    order: 1;
}

img {
    display: block;
    max-width: 100%;
    object-fit: contain;
    margin: 0 auto;
}

/* 
==================================================================
                            Forms
==================================================================
*/

input[type=text],[type=password] {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 1em;
    width: 100%;
    padding: .750em .750em;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid  lightblue;
    background-color: aliceblue;

}

input[type=submit] {
    margin-top: 1em;
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: .750em .750em;
    background-color: green;
    color: white;
    font-size: 1rem;
}

input[type=submit]:hover, 
input[type=submit]:active {
    background-color: rgb(0, 161, 0);
}


/* 
==================================================================
                            Media Query
==================================================================
*/

@media (min-width: 750px) {
    .container-flex {
        flex-direction: row;
        align-content: center;
        align-items: center;
    }

    .form-container {
        align-content: center;
        align-items: center;
        max-width: 40%;
    }

    .container-img {
        max-width: 50%;
    }
}