<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gillego-Flores Dental Clinic</title>
    <link rel="stylesheet" href="/css/LoginForm.css">
</head>
    <body>
        <div class="container">
            <div class="title">
                <h1>Gillego-Flores Dental Clinic</h1> 
                <p>Admin Portal</p>
            </div>
            <div class="container-flex">
                <div class="form-container">
                    <h1>Please sign in</h1>
                    <form method="Post" action="login" >
                        <input type="text" placeholder="Email Address">
                        <input type="password" placeholder="Password">
                        <input type="submit" value="Login">
                    </form>
                    <p>Register Here <a href="/system/admin/registration">Register</a></p>
                </div>
                <div class="container-img">
                    <img src="/assets/person-managing-it-settings.png" alt="Main-image">
                </div>
            </div>
        </div>
    </body>
</html>