<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gillego-Flores Dental Clinic</title>

    <link rel="stylesheet" href="/css/admin/LoginForm.css">
    <link rel="shortcut icon" href="favico n.ico" type="image/x-icon">

    <link rel="icon" type="image/png" sizes="32x32" href="/assets/administrator/new-resized-logo.png">
    <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="/assets/administrator/new-resized-logo.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
    <body>
        <div class="container">
            <div class="title">
                <h1>Gillego-Flores Dental Clinic</h1> 
                <p>Admin Portal</p>
            </div>
            <div class="container-flex">
                <div class="form-container">
                    <h1>Sign in</h1>
                    <p th:if="${errorMessage}" class="error-message">Invalid Credentials</p>
                    <form method="Post" action="login" >
                        <input type="text" name="username" placeholder="Email Address">
                        <input type="password" name="password" placeholder="Password">
                        <input type="submit" value="Login">
                    </form>
                    <p>Register Here <a href="/admin/registration">Register</a></p>
                </div>
                <div class="container-img">
                    <img src="/assets/administrator/person-managing-it-settings.png" alt="Main-image">
                </div>
            </div>
        </div>
    </body>
</html>