<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gillego-Flores Dental Clinic</title>
    <link rel="stylesheet" href="/css/admin/RegistrationForm.css">
    
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/new-resized-logo.png">
    <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="/assets/new-resized-logo.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
    <body>
        <div class="container">
            <di class="form-title">
                <h1>Registration Form</h1>
                <p>Please fill in this form to create an account.</p>
            </di>
            
            <div class="form-container">
                <form action="registration" method="post" th:object="${employee}">
                    <div class="account-detail">
                        
                        <h2>Account Details</h2>
    
                        <div class="account-detail-first-row">
                            <div class="account-detail-first-row-left">
                                <input type="text" name="firstName" placeholder="FirstName" th:field="*{firstName}" >
                                <p><span class="error-message" th:errors="*{firstName}"></span></p>
                            </div>

                            <div class="account-detail-first-row-center">
                                <input type="text" name="middleName" placeholder="MiddleName" th:field="*{middleName}">
                                <p><span class="error-message" th:errors="*{middleName}" ></span></p>
                            </div>

                            <div class="account-detail-first-row-right">
                                <input type="text" name="lastName" placeholder="LastName" th:field="*{lastName}">
                                <p><span class="error-message" th:errors="*{lastName}" ></span></p>
                            </div>
                        </div>  
                        
                        <div class="account-detail-second-row">
                            <div class="account-detail-second-row-left">
                                <input type="email" name="emailAddress" placeholder="Email Address" th:field="*{emailAddress}" >
                                <p><span class="error-message"  th:errors="*{emailAddress}" ></span></p>
                                <p><span class="error-message"  th:text="${emailExist}" ></span></p>
                            </div>
                            
                            <div class="account-detail-second-row-right">
                                <input type="password" name="employeePassword" placeholder="Password" th:field="*{employeePassword}">
                                <p><span class="error-message" th:errors="*{employeePassword}" ></span></p>
                            </div>
                        </div>                        
                    </div>
                    
                    <div class="personal-detail">
                        <h2>Personal Details</h2>
                        <div class="personal-detail-first-row">
                            <div class="personal-detail-first-row-left">
                                <input type="text" name="address" placeholder="Complete Address" th:field="*{address}">
                                <p><span class="error-message" th:errors="*{address}" ></span></p>
                            </div>

                            <div class="personal-detail-first-row-right">
                                <input type="tel" name="contactNumber" placeholder="Contact Number (0968******5)" pattern="[0-9]{11}" th:field="*{contactNumber}">
                                <p><span class="error-message" th:errors="*{contactNumber}"></span></p></div>
                        </div>
                        <div class="personal-detail-second-row">
                            <div class="personal-detail-second-row-left">
                                <select class="gender-select" name="gender" th:field="*{gender}">
                                    <option value="" hidden>Select Gender</option>
                                    <option th:each="gender : ${genders}" th:value="${gender}"
                                            th:text="${gender.displayGender}"></option>
                                </select> 
                                <p><span class="error-message" th:errors="*{gender}" ></span></p>
                            </div>

                            <div class="personal-detail-second-row-center">
                                <select class="status" name="maritalStatus" th:field="*{maritalStatus}">
                                    <option value="" hidden>Select Status</option>
                                    <option th:each="status : ${maritalStatus}" th:value="${status}"
                                            th:text="${status.maritalStatus}"></option>
                                </select>
                                <p><span class="error-message" th:errors="*{maritalStatus}" ></span></p>
                            </div>

                            <div class="personal-detail-second-row-right">
                                <p>Birth Date</p>
                                <input type="date" name="birthDate" th:field="*{birthDate}">
                                <p><span class="error-message" th:errors="*{birthDate}" ></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="buttons"> 
                        <div class="back-button">
                            <input type="button" value="Back" onclick="location.href='/system/admin/login' ">
                        </div>
                        <div class="submit-button">
                            <input type="submit" value="Submit" onclick="location.href='/system/admin/login'">
                        </div>
                    </div>
                </form>    
            </div>
        </div>
    </body>
</html>