<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Gillego-Flores Dental Clinic</title>

    <!-- Boxicons CDN Link -->
    <link rel="stylesheet" th:href="@{/css/admin/dashboard.css}">
    <link rel="stylesheet" th:href="@{https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css}">
    <!--Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

    <link rel="icon" type="image/png" sizes="32x32" href="/assets/administrator/new-resized-logo.png">
    <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="/assets/administrator/new-resized-logo.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="sidebar">
    <div class="logo-details">
<!--        <i class='bx bxl-c-plus-plus'></i>-->
<!--        <i class='bx bxl-java'></i>-->
        <i class='bx bxl-java'></i>
        <span class="logo_name">ADMIN</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#" class="active">
                <i class='bx bxs-dashboard' ></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/patients-list}">
                <i class='bx bxs-user-circle'></i>
                <span class="links_name" >Patients</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/cancel-appointment}">
                <i class='bx bxs-user-x'></i>
                <span class="links_name">Cancel Appointment</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/reviews}">
                <i class='bx bxs-user-circle'></i>
                <span class="links_name">Reviews</span>
            </a>
        </li>
        <li class="log_out">
            <a th:href="@{/admin/login}">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Log out</span>
            </a>
        </li>
    </ul>
</div>


<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="dashboard">Dashboard</span>
        </div>
    </nav>

    <div class="home-content">
        <div class="overview-boxes">
            <div class="box">
                <div class="right-side">
                    <div class="box-topic">Total Patients</div>
                    <div class="number" th:text="${countPatient}"></div>
                    <div class="indicator">
                    </div>
                </div>
                <i class='bx bxs-user-plus cart one'></i>
            </div>
            <div class="box">
                <div class="right-side">
                    <div class="box-topic">Appt. Today</div>
                    <div class="number" th:text="${countAppointment2}"></div>
                    <div class="indicator">
                        <p class="text">Date:
                            <span class="text" th:text="${date}"></span>
                        </p>
                    </div>
                </div>
                <i class='bx bxs-user-check cart two'></i>
            </div>
            <div class="box">
                <div class="right-side">
                    <div class="box-topic">Cancelled Appt.</div>
                    <div class="number" th:text="${countCancelledAppt}"></div>
                    <div class="indicator">
                    </div>
                </div>
                <i class='bx bxs-user-circle cart three' ></i>
            </div>

        </div>
    </div>

    <!-- Table -->
    <div class="mt-5 mb-5 w-100  wx-auto container-md table-responsive">

        <div class="mt-5 mb-3 w-25">
            <form th:action="@{dashboard}" method="post" th:object="${appointment}">
                <label for="dateInput" class="form-label">Select Date: </label>
                <input type="date" class="form-control" name="pickDate" th:field="*{pickDate}" id="dateInput">
                <p><span class="error-message" th:errors="*{pickDate}"></span></p>
                <input type="submit" value="Get Schedule" class="btn btn-sm btn-outline-primary mt-2">
            </form>
        </div>

        <table class="table table-sm table-striped table-hover text-nowrap">
            <thead>
            <tr>
                <!-- <th class="th-lg">Date of Appointment</th> -->
                <th class="th-lg fw-bold text-center">Queue Number</th>
                <th class="th-lg fw-bold text-center">Schedule</th>
                <th class="th-lg fw-bold text-center">Service</th>
                <th class="th-lg fw-bold text-center">Contact Number</th>
                <th class="th-lg fw-bold text-center">First Name</th>
                <th class="th-lg fw-bold text-center">Last Name</th>
                <th class="th-lg fw-bold text-center">Middle Name</th>
                <th class="th-lg fw-bold text-center">Health Conditions</th>
                <th class="th-lg fw-bold text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${listOfAppointment}">
                <td th:text="${list.queue}"></td>
                <td><span th:text="${list.pickDate}"></span>,
                <span th:text="${list.pickTime}"></span></td>
                <td th:text="${list.services}"></td>
                <td th:text="${list.patient.contactNumber}"></td>
                <td th:text="${list.patient.firstName}"></td>
                <td th:text="${list.patient.lastName}"></td>
                <td th:text="${list.patient.middleName}"></td>
                <td th:text="${list.patient.physicalDisability}"></td>
                <td>
                    <a type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                       th:attr="data-bs-target='#doneAppointment'+${list.id}">Done</a>

                    <a type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                       th:attr="data-bs-target='#cancelAppointment'+${list.id}">Cancel Appointment</a>
                </td>

                <!-- Done Appointment -->
                <div th:fragment="modal" class="modal fade" th:id="doneAppointment+${list.id}"  tabindex="-1"
                     aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <form th:action="@{done}" method="post" th:object="${tooth}">
                        <div class="modal-dialog modal-dialog-scrollable modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="DoneModalLabel">Done Appointment</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Set Information about <span class="fw-bold" th:text="${list.patient.lastName}"></span>,
                                        <span class="fw-bold" th:text="${list.patient.firstName}"></span>
                                        <span class="fw-bold" th:text="${list.patient.middleName}"></span>
                                        regarding to their appointment outcome.
                                    </p>

                                    <img th:src="@{/assets/administrator/ToothChart.jpg}" alt="Tooth Chart"
                                         class="rounded mx-auto d-block mb-4 mt-4 w-75">

                                    <div class=" col-lg-12 form-floating mb-4">
                                        <input type="hidden" class="form-control" id="done_id"
                                               placeholder="First Name" th:value="${list.id}" th:attr="name='id'" >
                                    </div>

                                    <div class="col-md-7 form-floating mb-4">
                                        <input type="tel" class="form-control" id="floatingToothNumber"
                                               placeholder="Confirm Password" aria-describedby="help"
                                               th:field="*{toothNumber}">
                                        <label for="floatingToothNumber">Tooth Number</label>
                                        <div id="help" class="form-text">Separate it with " , " if there are
                                            multiple procedure done.</div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <input type="submit"
                                           value="Done"
                                           class="btn btn-sm btn-outline-primary">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Cancel Appointment -->
                <div th:fragment="modal" class="modal fade" th:id="cancelAppointment+${list.id}"  tabindex="-1"
                     aria-labelledby="deleteModalLabel" aria-hidden="true">
                <form th:action="@{delete}" method="post" th:object="${cancelAppointment}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteModalLabel">Cancel Appointment</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Do you want to cancel the appointment schedule of <span class="fw-bold"
                                    th:text="${list.patient.lastName}"></span>,
                                    <span class="fw-bold" th:text="${list.patient.firstName}"></span>
                                    <span class="fw-bold" th:text="${list.patient.middleName}"></span></p>

                                <div class=" col-lg-12 form-floating mb-4">
                                    <input type="hidden" class="form-control" id="id"
                                           placeholder="First Name" th:value="${list.id}" th:attr="name='id'" >
                                </div>

                                <div class="mb-3 mt-3">
                                    <label for="cancelMessage" class="form-label">Indicate Why you
                                    cancelled it.</label>
                                    <textarea name="message" class="form-control" id="cancelMessage" rows="3"
                                              th:field="*{message}"></textarea>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <input type="submit"
                                       value="Cancel Appointment"
                                       class="btn btn-sm btn-outline-danger">
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
    </div>

</section>



<script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

</body>
</html>

