<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gillego-Flores Dental Clinic - Home Page</title>
</head>
    <body>
        <h1>Gillego-Flores Dental Clinic Dashboard</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae sint ipsa culpa dolor? Aspernatur, ullam distinctio, architecto quisquam animi ratione, quasi ipsum hic eum maiores voluptate aliquam mollitia repudiandae earum?</p>
    </body>
</html>