@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.nav-container {
    width: 100%;
    background-color: #f2a7a7;
}

.navbar {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}

/* NAV LOGO */

#navbar-logo {
    color: #28282B;
    justify-self: start;
    margin-left: 20px;
    font-weight: 700;
    font-size: 1rem;
}

#navbar-logo {
    cursor: pointer;
}

/* NAV LINKS */

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}

.nav-links {
    color: #353935;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
}

.nav-links:hover, .nav-links:active{
    color: white;
    transition: all 0.2ms ease-out
}

.nav-links-btn {
    background-color: #D95F76;
    padding: 6px 16px;
    border-radius: 4px;
    color: #28282B;
}

.nav-links-btn:hover {
    background-color: transparent;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 4px;
    border: solid 2px #D95F76;
    transition: all 0.3s ease-out;
}

/*  HAMBUGER*/

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #28282B;
}

@media screen and (max-width: 768px) {
    .nav-container {
        position: relative;
    }

    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        background: #f2c1bd;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    #navbar-logo {
        margin-left: 20px;
    }

    .nav-menu.active {
        background: #f2c1bd;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #D95F76;
        color: #ffffff;
        transition: all 0.4s ease-out;
    }

    .navbar {
        width: 100%;
    }
    
    .nav-links-btn{
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: #f2c1bd;
        color: #28282B;
        transition: all 0.4s ease-out;
    }
    .nav-links-btn:hover {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: #D95F76;
        color: white;
        transition: all 0.4s ease-out;
    }
    
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

