@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

:root {
    --primary: #fcd2d9;
    --secondary: #faa4b1;
    --mandyspink: #fb7c9a;
    --lightprink: #f9dee3;
    --white: #fffdfa;
    --black: #070606;
    --section: #fdf2f4;
}

/* 
==================================================================
                            Typography
================================================================== 
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

/* 
==================================================================
                            Navigation_Bar
==================================================================
*/

.nav-container {
    /* position: fixed; */
    width: 100%;
    background-color: var(--secondary);
    /* z-index: 100; */
}

.navbar {
    display: grid;
    grid-template-columns: 0.1fr auto 1fr;
    align-items: center;
    height: 100px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}

.logo-image {
    justify-self: start;
    margin-top: 2px;
}

.logo-image {
    cursor: pointer;
}


.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}

.nav-links {
    color: var(--black);
    font-weight: 800;
    text-decoration: none;
}

.nav-links:hover {
    color: var(--mandyspink);
    transition: all 0.2s ease-out;
}

.nav-links-active {
    color: var(--mandyspink);
    font-weight: 800;
    text-decoration: none;
}

.nav-links-btn {
    background-color: var(--mandyspink);
    padding: 6px 16px;
    border-radius: 4px;
}

.nav-links-btn:hover {
    background-color: var(--lightprink);
    color: var(--mandyspink);
    padding: 5px 15px;
    border-radius: 4px;
    border: solid 1px var(--mandyspink);
    transition: all 0.3s ease-out;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--white);
}


/* 
==================================================================
                            Hero
==================================================================
*/

.main{
    background: rgb(252,210,217);
    background: linear-gradient(0deg, rgba(252,210,217,1) 0%, rgba(250,164,177,1) 100%);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    width: 90%;
    margin: 0 auto;
    height: 90vh;
    
}

.main-content {
    justify-self: start;
    width: 100%;
    color: var(--black);
}

.main-content h1 {
    font-size: 2rem;
    font-weight: 800;
}

.main-content p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.main-btn {
    font-size: 1rem;
    background-color: var(--secondary);
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    color: var(--black);
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all .35s;
    outline: none;
}

.main-btn a {
    position: relative;
    z-index: 2;
    color: var(--black);
    text-decoration: none;
    font-weight: 800;
}

.main-btn:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all .35s;
    border-radius: 4px;
    background: var(--mandyspink);
}

.main-btn:hover {
    color: var(--black);
}

.main-btn:hover:after {
    width: 100%;
}

.main-img-container {
    text-align: center;
}

#main-img {
    height: 100%;
    width: 100%;
}


/* 
==================================================================
                            About Us
==================================================================
*/

.about-main {
    background: var(--white);
}

.about-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 50vh;
}

.aboutimg-container {
    text-align: center;
}

#aboutus-img {
    width: 100%;
    height: 400px;
    border-radius: 8px;
}

.about-text {
    justify-self: start;
    width: 100%;
    color: var(--black);
}

.about-text h2 {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--secondary);
}

.about-text h4 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--black);
    margin: 30px 0 15px;
}

.about-text p {
    font-size: 1.2rem;
    color: var(--black);
}

#about-btn {
    margin-top: 1rem;
}

/* 
==================================================================
                            Services
==================================================================
*/

.services {
    background: var(--section);
}

.services-text {
    font-size: 3rem;
    text-align: center;
}

.services-content {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    margin: 0 auto;
    width: 90%;
    height: 60vh;
    padding: 1rem;
    
}

.box {
    padding: 35px 45px;
    border-radius: 8px;
    text-align: center;
    background: linear-gradient(0deg, rgba(252,210,217,1) 0%, rgba(250,164,177,1) 100%);
}

.box-5 {
    padding: 35px 45px;
    border-radius: 8px;
    text-align: center;
    background: none;
}

.services-text h2 {
    font-weight: 800;
    color: var(--secondary);
}

.services-text span {
    font-weight: 800;
    color: var(--black);
}

.box h4 {
    color: var(--black);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.1rem;
}

.services-svg {
    width: 3rem;
}

.services-btn-text {
    text-align: center;
    align-items: center;
    margin-top: 1rem;
}

.services-btn-text h4 {
    font-size: 1.5rem;
    font-weight: 800;
}

/* 
==================================================================
                            MEDIA QUERY TABLET
==================================================================
*/
@media screen and (max-width: 1024px) {

/* ---------------Navigation--------------*/

    .nav-container {
        position: relative;
    }

    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        background: var(--secondary);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 100px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .logo-image {
        margin-left: 10px;
    }

    .nav-menu.active {
        background: var(--primary);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
        
    }

    .nav-links:hover {
        background-color: var(--mandyspink);
        color: var(--black);
    }
    
    .navbar {
        width: 100%;
    }
    
    .nav-links-btn {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--secondary);
        color: var(--black);
        transition: all 0.4s ease-out;
    }

    .nav-links-btn:hover {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--mandyspink);
        color: var(--black);
        transition: all 0.4s ease-out;
    }

/* ---------------Hamburger--------------*/

    #mobile-menu {
        position: absolute;
        top: 33%;
        right: 5%;
    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
        background-color: var(--black);
    }
    .menu-toggle .bar {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

/* ---------------Main--------------*/

    .main-container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 90%;
        margin: 0 auto;
        height: 90vh;
        text-align: center;
        background: rgb(250,164,177);
        background: linear-gradient(178deg, rgba(250,164,177,1) 0%, rgba(252,210,217,1) 83%);
    }

    .main-content {
        justify-self: center;
        color: var(--black);
        width: 80%;
        margin: 0;
    }

    .main-content h1 {
        font-size: 2.5rem;
    }
    
    .main-content p {
        margin-top: 1.5rem;
        font-size: 1.2rem;
    }

    #main-img {
        display: none;
    }

/* ---------------About Us--------------*/

    .about-main {
        background: var(--white);
    }

    .about-content {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-self: center;
        gap: 0px;
        width: 90%;
        margin: 0 auto;
        height: 80vh;
        text-align: center;
        background-color: var(--white);
    }

    .about-text {
        justify-self: center;
        width: 80%;
        margin-bottom: 10rem;
    }

    .about-text h2 {
        font-size: 2.5rem;
        font-weight: 800;
    }

    .about-text h4 {
        font-size: 2rem;
        font-weight: 800;
        color: var(--black);
        margin-top: 0;

    }

    .about-text p {
        font-size: 1rem;
        color: var(--black);
    }

    #aboutus-img {
        width: 100%;
        height: 400px;
        margin-top: 1rem;
        border-radius: 8px;
    }
    
    /* ---------------About Us--------------*/

    .services {
        background: var(--primary);
        height: 100vh;
    }

    .services-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: var(--section);
        height: 80vh;
    }

    .services-text h2 {
        font-size: 2rem;
    }

    .box {
        padding: 25px 35px;
    }

}
