@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --primary: #f2a7a7;
    --secondary: #d95f76;
    --mandyspink: #f2c1bd;
}

/* 
==================================================================
                            Typhography
==================================================================
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* 
==================================================================
                            Navigation_Bar
==================================================================
*/
.navbar {
    background-color: var(--primary);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar-logo {
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;

}

/* 
==================================================================
                            Logo
==================================================================
*/

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-item {
    height: 80px;
    width: 100px;
}

.navbar-links{
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    background: var(--secondary);
    color: #000;
}

.button:hover {
    background: var(--mandyspink);
}

/* 
==================================================================
                            Forms
==================================================================
*/

.main-container {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    /* margin-top: 5rem; */
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
}

.main-container-forms {
    margin: auto 0;
}

.main-container-forms h1 {
    margin-bottom: 5rem;
}

input[type=text],[type=password] {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 1em;
    width: 100%;
    padding: .750em .750em;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid  rgb(240, 148, 232);
    background-color: rgb(255, 227, 251);

}

input[type=submit] {
    margin-top: 1em;
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: .750em .750em;
    background-color: green;
    color: white;
    font-size: 1rem;
}

input[type=submit]:hover, 
input[type=submit]:active {
    background-color: rgb(0, 161, 0);
}

/* 
==================================================================
                            images
==================================================================
*/

.main-container-images {
    margin: auto 0;
}

/* 
==================================================================
                            Carousel 
==================================================================
*/
.carousel-item {
    width:100%;
    height: 500px;
}

.carousel-item img{
    margin: 2rem auto;
    width:90%;
    height: 90%;
}

/* 
==================================================================
                            Media Query
==================================================================
*/

@media (min-width: 750px) {
    .main-container-forms {
        width: 40%;
    }

    .main-container-images {
        width: 50%;
    }
}