@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --primary: #FD7B93;
    --secondary: #ffc4cf;
    --mandyspink: #f2c1bd;
}

html {
    height: 100vh;
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

::placeholder {
    font-weight: 500;
    font-size: 1rem;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

/* 
==================================================================
                            Typhography
==================================================================
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

 p {
    margin-bottom: 0;
 }
/* 
==================================================================
                            Navigation Bar
==================================================================
*/
nav {
    background-color: var(--primary);
}

.navbar-link {
    color: white;
}

.container {
    justify-content: baseline;
}

.container img {
    width: 15%;
    margin-right: 1rem;
}

.navbar-brand-flex {
    display: flex;
    flex-direction: column;
}

.first {
    font-size: 1.100rem;
    padding-top: 0;
    padding-bottom: 0px;
    font-weight: 500;
}

.second {
    font-size: 1.6rem;
    padding: 0;
    font-weight: 500;
}
/* 
==================================================================
                            Forms
==================================================================
*/

.body-container { 
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
}

.main-container {
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
}

.main-container-forms {
    margin: 0 auto;
    width: 95%;
}

.main-container-forms h1 {
    text-align: center;
    margin: 2.5rem;
    font-weight: 700;
}

input[type=text], [type=password] {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 1em;
    width: 100%;
    padding: .750em .750em;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-bottom: 2px solid var(--primary);

}

input[type=submit] {
    margin-top: 2em;
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: .750em .750em;
    background-color: green;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    transition-duration: 500ms;
}

input[type=submit]:hover, 
input[type=submit]:active {
    background-color: rgb(0, 161, 0);
}

/* 
==================================================================
                            images
==================================================================
*/

.main-container-images {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 
==================================================================
                            Carousel 
==================================================================
*/

.carousel-item {
    height: 350px;
}

.carousel-item img {
    width: 80%;
    height: 100% !important;
    object-fit: contain;
    margin: 0 auto;
}

/* 
==================================================================
                            Footer
==================================================================
*/

footer {
    color: white;
    background-color: #FD7B93;
}

.footer-container { 
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}

.footer-flex {
    display: flex;
    flex-direction: column;
}

.footer-map iframe {
    width: 100%;
    height: 20rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 2.5rem;
}

.location,
.contact-number,
.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 0 0 0;
}

.content-container {
    background-color: #ffc4cf;
    padding: 1rem;
    border-radius: 50%;
}


.content-paragraph {
    font-size: 1rem;
    font-weight: 200;
    width: 60%;
    padding: 1rem 0 0 0;
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    
.social-media-container  {
    display: flex;
    justify-content: center;
    padding: 2rem 0 0 0;
}

.social-media-container a {
    padding: 0 2rem 0 2rem;
}

.copyright p {
    padding: 5rem 0 2rem 0;
    text-align: center;
    font-size: .790rem;
    font-weight: 200; 
}

/* 
==================================================================
                            Media Query
==================================================================
*/


@media screen and (min-width: 750px) {


/* 
==================================================================
                            Navigation bar
==================================================================
*/
nav {
    background-color: var(--primary);
}

.nav-link {
    color: white;
}

.container img {
    width: 5%;
    margin-right: .5rem;
}

.navbar-brand-flex {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.first {
    font-size: .900rem;
    padding-top: 0;
    padding-bottom: -10px;
    font-weight: 400;
}

.second {
    font-size: 1.200rem;
    padding: 0;
    font-weight: 400;
}
    
.navbar-colapse {
    justify-content: space-between;
    
}

.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: uppercase;
}

/* 
==================================================================
                            Forms
==================================================================
*/
    .main-container {
        flex-direction: row;
        justify-content: space-between;
        margin: 3rem auto;
        height: 100vh;
    }

    .main-container-forms h1 { 
        text-align: left;
        margin: 0 0 1.5rem 0;
    }

    .main-container-forms {
        width: 40%;
        margin: auto 0;
    }

    .main-container-images {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .carousel-item {
        height: 450px;
    }

    .carousel-item img {
        width: 90%;
        height: 100% !important;
        object-fit: contain;
        margin: 0 auto;
    }
    

/* 
==================================================================
                            Footer
==================================================================
*/
    footer {
        color: white;
        background-color: var(--primary);
    }
    
    .footer-container { 
        max-width: 1500px;
        width: 100%;
        margin: 0 auto;
    }
    

    .footer-flex {
        display: flex;
        flex-direction: column;
    }

    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        width: 80%;
        padding-top: 2.5rem;
    }

    .location,
    .contact-number,
    .email {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        text-align: left;
        padding: 0 0 0 .5rem;
        width: 100%;
        border-right: 1px solid var(--secondary);
    }

    .content-paragraph {
        font-size: .8rem;
        font-weight: 200;
        width: 75%;
        padding: 0 0 0 0;
    }

    .social-media {
        display: flex;
        flex-direction: column;
    }
        
    .social-media-container  {
        display: flex;
        justify-content: center;
        padding: 0 0 0 0;
       
    }
    
    .social-media-container a {
        padding: 0 0 0 2rem;
    }

    .copyright p {
        padding: 5rem 0 2rem 0;
        text-align: center;
        font-size: .790rem;
        font-weight: 200; 
    }
}