@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --primary: #f2a7a7;
    --secondary: #d95f76;
    --mandyspink: #f2c1bd;
}

html {
    height: 100vh;
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}



/* 
==================================================================
                            Typhography
==================================================================
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
 p {
    margin-bottom: 0;
 }
/* 
==================================================================
                            Navigation_Bar
==================================================================
*/
.navbar {
    background-color: var(--primary);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar-logo {
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;

}

/* 
==================================================================
                            Logo
==================================================================
*/

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-item {
    height: 80px;
    width: 100px;
}

.navbar-links{
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    background: var(--secondary);
    color: #000;
}

.button:hover {
    background: var(--mandyspink);
}

/* 
==================================================================
                            Forms
==================================================================
*/

.body-container { 
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
}

.main-container {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}

.main-container-forms {
    margin: 0 auto;
    width: 95%;
}

.main-container-forms h1 {
    text-align: center;
    margin-bottom: 2.5rem;
    font-weight: bolder;
}

input[type=text],[type=password] {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 1em;
    width: 100%;
    padding: .750em .750em;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid  rgb(240, 148, 232);
    background-color: rgb(255, 227, 251);

}

input[type=submit] {
    margin-top: 1em;
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: .750em .750em;
    background-color: green;
    color: white;
    font-size: 1rem;
    transition-duration: 500ms;
}

input[type=submit]:hover, 
input[type=submit]:active {
    background-color: rgb(0, 161, 0);
}

/* 
==================================================================
                            images
==================================================================
*/

.main-container-images {
    margin: 0 auto;
    width: 90%;
    height: 350px;
}

/* 
==================================================================
                            Carousel 
==================================================================
*/
.carousel {
    width: 80%;
    height: 100%;
}

.carousel-item {
    min-width: 20%;
    max-width: 90%;
    
}

.carousel-item img{
    width: 20%;
    height: 90%;
    margin: 0 auto;
}

/* 
==================================================================
                            Footer
==================================================================
*/

footer {
    color: white;
    background-color: #FD7B93;
    padding-bottom: 1rem;
}

.footer-container { 
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}

.footer-flex {
    display: flex;
    flex-direction: column;
}

.footer-map iframe {
    width: 100%;
    height: 20rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 2.5rem;
}

.location,
.contact-number,
.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 0 0 0;
}

.content-container {
    background-color: #ffc4cf;
    padding: 1rem;
    border-radius: 50%;
}


.content-paragraph {
    font-size: 1rem;
    font-weight: 200;
    width: 100%;
    padding: 1rem 0 0 0;
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    
.social-media-container  {
    display: flex;
    justify-content: center;
    padding: 2rem 0 0 0;
}

.social-media-container a {
    padding: 0 2rem 0 2rem;
}

.copyright p {
    padding-top: 2rem;
    text-align: center;
    font-size: .790rem;
    font-weight: 200;
}

/* 
==================================================================
                            Media Query
==================================================================
*/


@media screen and (min-width: 750px) {
    
/* 
==================================================================
                            Forms
==================================================================
*/
    .main-container {
        flex-direction: row;
        justify-content: space-between;
        margin: 3rem auto;
        height: 100vh;
    }

    .main-container-forms h1 { 
        text-align: left;
    }

    .main-container-forms {
        width: 40%;
        margin: auto 0;
    }

    .main-container-images {
        width: 50%;
        margin: auto 0; 
        height: 70%;
    }
    
    .carousel {
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        margin: 0 auto;
    }
    
    
    .carousel-item img{
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        width: 80%;
    }

/* 
==================================================================
                            Footer
==================================================================
*/
    footer {
        color: white;
        background-color: #FD7B93;
        padding-bottom: 1rem;
    }
    
    .footer-container { 
        max-width: 1500px;
        width: 100%;
        margin: 0 auto;
    }
    

    .footer-flex {
        display: flex;
        flex-direction: column;
    }

    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        width: 80%;
        padding-top: 2.5rem;
    }

    .location,
    .contact-number,
    .email {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        text-align: left;
        padding: 0 0 0 .5rem;
        width: 100%;
        border-right: 1px solid #ffc4cf;
    }

    .content-paragraph {
        font-size: .8rem;
        font-weight: 200;
        width: 75%;
        padding: 0 0 0 0;
    }

    .social-media {
        display: flex;
        flex-direction: column;
    }
        
    .social-media-container  {
        display: flex;
        justify-content: center;
        padding: 0 0 0 0;
    }
    
    .social-media-container a {
        padding: 0 0 0 2rem;
    }
}