@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

:root {
    --primary: #fcd2d9;
    --secondary: #faa4b1;
    --mandyspink: #fb7c9a;
    --lightprink: #f9dee3;
    --white: #fffdfa;
    --black: #070606;
    --section: #fdf2f4;
}

/* 
==================================================================
                            Typography
================================================================== 
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 4rem;
}

/* 
==================================================================
                            Navigation_Bar
==================================================================
*/

.nav-container {
    position: fixed;
    width: 100%;
    background-color: var(--primary);
    z-index: 100;
}

.navbar {
    display: grid;
    grid-template-columns: 0.1fr auto 1fr;
    align-items: center;
    height: 100px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}

.logo-image {
    justify-self: start;
    margin-top: 2px;
}

.logo-image {
    cursor: pointer;
}


.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}

.nav-links {
    color: var(--black);
    font-weight: 800;
    text-decoration: none;
}

.nav-links:hover {
    color: var(--mandyspink);
    transition: all 0.2s ease-out;
}

.nav-links-active {
    color: var(--mandyspink);
    font-weight: 800;
    text-decoration: none;
}

.nav-links-btn {
    background-color: var(--secondary);
    padding: 6px 16px;
    border-radius: 4px;
}

.nav-links-btn:hover {
    background-color: var(--lightprink);
    color: var(--mandyspink);
    padding: 5px 15px;
    border-radius: 4px;
    border: solid 1px var(--mandyspink);
    transition: all 0.3s ease-out;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--white);
}


/* 
==================================================================
                            Hero
==================================================================
*/

.main{
    background: rgb(253,242,244);
    background: linear-gradient(0deg, rgba(253,242,244,1) 0%, rgba(252,210,217,1) 90%);
    padding-top: 100px;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    width: 90%;
    margin: 0 auto;
    height: 90vh;
    
}

.main-content {
    justify-self: start;
    width: 100%;
    color: var(--black);
}

.main-content h1 {
    font-size: 2rem;
    font-weight: 800;
}

.main-content p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.main-btn {
    font-size: 1rem;
    background-color: var(--secondary);
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    color: var(--black);
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all .35s;
    outline: none;
}

.main-btn a {
    position: relative;
    z-index: 2;
    color: var(--black);
    text-decoration: none;
    font-weight: 800;
}

.main-btn:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all .35s;
    border-radius: 4px;
    background: var(--mandyspink);
}

.main-btn:hover {
    color: var(--black);
}

.main-btn:hover:after {
    width: 100%;
}

.main-img-container {
    text-align: center;
}

#main-img {
    height: 100%;
    width: 100%;
}


/* 
==================================================================
                            About Us
==================================================================
*/

.about-main {
    background: var(--white);
    padding: 5rem 0;
}

.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 70vh;
}

.aboutimg-content {
    text-align: center;
}

#aboutus-img {
    width: 100%;
    height: 400px;
    border-radius: 8px;
}

.about-text {
    justify-self: start;
    width: 100%;
    color: var(--black);
}

.about-text h2 {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--mandyspink);
    text-shadow: 1px 1px 1px var(--black);
}

.about-text h4 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--black);
    padding-bottom: 1rem;
}

.about-text p {
    font-size: 1.3rem;
    color: var(--black);
    line-height: 1.1;
}

#about-btn {
    margin-top: 1rem;
}

/* 
==================================================================
                            Services
==================================================================
*/

.services {
    background: var(--section);
    padding: 4rem 0;
}

.services-text {
    text-align: center;
}

.services-content {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    margin: 0 auto;
    width: 90%;
    height: 80vh;
    align-self: center;
}

.box {
    padding: 35px 45px;
    border-radius: 8px;
    text-align: center;
    background: linear-gradient(0deg, rgba(252,210,217,1) 0%, rgba(250,164,177,1) 100%);
}

.services-text h2 {
    font-size: 4rem;
    font-weight: 800;
    color: var(--mandyspink);
    text-shadow: 1px 1px 1px var(--black);
    padding-bottom: 1rem;
}

.services-text span {
    font-weight: 800;
    color: var(--black);
}

.box h4 {
    color: var(--black);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.1rem;
    padding-top: 1rem;
}

.box p {
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.box-5 {
    padding: 35px 45px;
    border-radius: 8px;
    text-align: center;
    background: none;
    margin-top: 0;
}


#services-btn {
    margin-top: 1rem;
}

.services-img {
    width: 4rem;
    margin-top: 2.5rem;
}

.services-btn-text {
    text-align: center;
    align-items: center;
    margin-top: 4rem;
}

.services-btn-text h4 {
    font-size: 1.5rem;
    font-weight: 800;
}

/* 
==================================================================
                            Reviews
================================================================== 
*/
.reviews-main {
    padding: 5rem 0;
    background-color: var(--white);
}
.reviews-text {
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
}

.reviews-text h2{
    font-size: 4rem;
    font-weight: 800;
    color: var(--mandyspink);
    text-shadow: 1px 1px 1px var(--black);
    text-align: center;
}

.reviews-text span {
    font-size: 1.2rem;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reviews {
    height: 30rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

.reviews-container {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    background-color: var(--section);
    overflow: hidden;
}

.reviews-svg {
    height: 170px;
    width: 170px;
    object-fit: cover;
}

.reviews-container .slider{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.slider p {
    text-align: center;
    padding: 0 100px;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--black);
}

.slider .qoute-icon {
    font-size: 2rem;
    color: var(--mandyspink);
}

.slider .reviews-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-details .r-name {
    font-size: 1rem;
    font-weight: 600;
    color: var(--black);
}

#reviews-btn {
    padding: 2px 20px;
    margin-top: 0;
    margin-left: 1rem;
}

.bxs-star {
    color: gold;
}
/* Swiper Button CSS */


/* 
==================================================================
                            Contact
==================================================================
*/

.contact {
    padding: 4rem 5%;
}

.contact {
    background-color: var(--section);
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    gap: 6rem;
}

.contact-img img {
    max-width: 100%;
    width: 720px;
    height: auto;
    border-radius: 8px;
}

.contact-form h2 {
    font-size: 4rem;
    font-weight: 800;
    text-shadow: 1px 1px 1px var(--black);
    color: var(--mandyspink);
}

.contact-form h3 {
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--black);
    margin-bottom: 2rem;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    width: 100%;
    padding: 1rem;
    border: none;
    outline: none;
    background-color: var(--lightprink);
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form form .btn {
    display: inline-block;
    background-color: var(--secondary);
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid transparent;
    border-radius: 8px;
    width: 200px;
    transition: ease .20s;
    cursor: pointer;
}

.contact-form form .btn:hover {
    border: 2px solid var(--mandyspink);
    background: transparent;
    transform: scale(1.1);
    color: var(--mandyspink);
}
/* 
==================================================================
                            Footer
==================================================================
*/
footer {
    color: var(--black);
    background: rgb(249,222,227);
    background: linear-gradient(0deg, rgba(249,222,227,1) 32%, rgba(252,210,217,1) 57%);
}

.footer-container { 
    max-width: 1720px;
    width: 100%;
    margin: 0 auto;
}


.footer-flex {
    display: flex;
    flex-direction: column;
}

.footer-flex h1 {
    color: var(--mandyspink);
    font-weight: 800;
    font-size: 3.5rem;
    margin: 3rem auto 3rem auto;
    text-shadow: 1px 1px 1px var(--black);
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    padding-top: 2.5rem;
}

.location,
.contact-number,
.email {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: left;
    padding: 0 0 0 .5rem;
    width: 100%;
    border-right: 1px solid var(--secondary);
}

.content-paragraph {
    font-size: .8rem;
    font-weight: 500;
    width: 75%;
    padding: 0 0 0 0;
}

.social-media {
    display: flex;
    flex-direction: column;
}
    
.social-media-container  {
    display: flex;
    justify-content: center;
    padding: 0 0 0 0;
}

.social-media-container a {
    padding: 0 0 0 2rem;
}

.bold-font {
    font-weight: 700;
}

.copyright p {
    padding: 5rem 0 2rem 0;
    text-align: center;
    font-size: .790rem;
    font-weight: 500; 
}

.footer-map iframe {
    width: 100%;
    height: 20rem;
}

/* 
==================================================================
                            MEDIA QUERY
==================================================================
*/
@media screen and (max-width: 1024px) {

/* ---------------Navigation--------------*/

    .nav-container {
        position: fixed;
        z-index: 999;
    }

    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        background: var(--secondary);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 100px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .logo-image {
        margin-left: 10px;
    }

    .nav-menu.active {
        background: var(--primary);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
        
    }

    .nav-links:hover {
        background-color: var(--mandyspink);
        color: var(--black);
    }
    
    .navbar {
        width: 100%;
    }
    
    .nav-links-btn {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--secondary);
        color: var(--black);
        transition: all 0.4s ease-out;
    }

    .nav-links-btn:hover {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--mandyspink);
        color: var(--black);
        transition: all 0.4s ease-out;
    }

/* ---------------Hamburger--------------*/

    #mobile-menu {
        position: absolute;
        top: 33%;
        right: 5%;
    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
        background-color: var(--black);
    }
    .menu-toggle .bar {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

/* ---------------Main--------------*/

    .main-container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 90%;
        margin: 0 auto;
        height: 90vh;
        text-align: center;
    }

    .main-content {
        justify-self: center;
        color: var(--black);
        width: 90%;
        margin: 0;
        padding-top: 5rem;
    }

    .main-content h1 {
        font-size: 2.5rem;
    }
    
    .main-content p {
        margin-top: 1.5rem;
        font-size: 1.2rem;
    }

    #main-img {
        display: none;
    }

/* ---------------About Us--------------*/

    .about-main {
        background: var(--white);
        padding: 4rem 0;
    }

    .about-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-self: center;
        gap: 1px;
        width: 90%;
        margin: 0 auto;
        height: fit-content;
        background-color: var(--white);
    }

    .about-content {
        justify-self: center;
        color: var(--black);
        width: 90%;
        margin: 0;
    }

    .about-text {
        justify-self: center;
        width: 90%;
    }

    .about-text h2 {
        font-size: 1.2rem;
        font-weight: 800;
    }

    .about-text h4 {
        font-size: 1.3rem;
        font-weight: 800;
        color: var(--black);
        margin: 0;
        padding-bottom: 0.5rem;

    }

    .about-text p {
        font-size: 1rem;
        color: var(--black);
    }

    #aboutus-img {
        width: 100%;
        height: 450px;
        border-radius: 8px;
    }
    
    /* ---------------Services--------------*/

    .services {
        background: var(--section);

    }

    .services-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: var(--section);
        height: fit-content;
    }

    .services-text h2 {
        font-size: 4rem;
        font-weight: 800;
    }

    .box {
        padding: 25px 35px;
    }

    .services-img {
        margin-top: 0;
    }

/* ---------------Reviews--------------*/
    
    .reviews-main{
        height: fit-content;
    }
/* ---------------Reviews--------------*/
    .contact {
        grid-template-columns: 1fr;
        gap: 3rem;

    }

    .contact-form h2 {
        text-align: center;
    }

    .contact-form h3 {
        text-align: center;
    }

    .contact-img {
        max-width: 100%;
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 2rem;
    }

}

/* 
==================================================================
                            MEDIA QUERY TABLET
==================================================================
*/

@media screen and (max-width: 768px) {
    /* ---------------About--------------*/
    .about-main {
        padding: 2rem 0;
    }
    .about-container{
        display: grid;
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .about-text h2 {
        font-size: 2rem;
        font-weight: 800;
    }

    .about-text h4 {
        font-size: 1.7rem;
        font-weight: 800;
        color: var(--black);
        margin-top: 0;

    }

    .about-text p {
        font-size: 1.1rem;
        color: var(--black);
    }

    #aboutus-img {
        width: 90%;
        height: 350px;
        border-radius: 8px;
    }

    /* ---------------Services--------------*/

    .services {
        background: var(--section);
        padding: 2rem 0;
    }

    .services-content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .services-text h2 {
        font-size: 2.5rem;
    }
    .box {
        padding: 10px 20px;
        text-align: center;
    }

    .box h4 {
        font-size: 1.1rem;
    }

    .box p {
        display: none;
    }

    .box-5 {
        padding: 10px 20px;
        order: 1;
    }

    .services-btn-text {
        margin-top: 0;
    }

    .services-btn-text h4{
        font-size: 1.1rem;
    }

    .services-svg {
        width: 2rem;
        margin-top: 1rem;
    }

/* ---------------Reviews--------------*/
    .reviews-main {
        padding: 2rem 0;
    }
    .reviews {
        height: fit-content;
    }
    .reviews-text h2 {
        font-size: 2.5rem;
    }

    .reviews-text span {
        font-size: 4rem;
    }

/* ---------------Reviews--------------*/
.contact {
    padding: 2rem 5%;
}

/* ---------------Footer--------------*/
footer {
    color: var(--black);
    background-color: var(--primary);
}

.footer-container { 
    max-width: 1720px;
    width: 100%;
    margin: 0 auto;
}

.footer-flex {
    display: flex;
    flex-direction: column;
}

.footer-flex h1 {
    color: var(--mandyspink);
    font-weight: 800;
    font-size: 2.5rem;
    margin: 3rem auto 3rem auto;
    text-shadow: 1px 1px 1px var(--black);
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 2.5rem;
}

.location,
.contact-number,
.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 0 0 0;
}

.content-container {
    background-color: var(--secondary);
    padding: 1rem;
    border-radius: 50%;
}


.content-paragraph {
    font-size: 1rem;
    font-weight: 200;
    width: 60%;
    padding: 1rem 0 0 0;
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    
.social-media-container  {
    display: flex;
    justify-content: center;
    padding: 2rem 0 0 0;
}

.social-media-container a {
    padding: 0 2rem 0 2rem;
}

.bold-font {
    font-weight: 700;
}

.copyright p {
    padding: 5rem 0 2rem 0;
    text-align: center;
    font-size: .790rem;
    font-weight: 200; 
}
}

/* 
==================================================================
                            MEDIA QUERY MOBILE
==================================================================
*/

@media screen and (max-width: 480px) {
    .about-main {
        padding: 0;
    }
    .about-container {
        padding: 2rem 0;
        height: fit-content;
    }

    .about-text h2 {
        font-size: 1.6rem;
        font-weight: 800;
    }

    .about-text h4 {
        font-size: 1.5rem;
        font-weight: 800;
        color: var(--black);
        margin-top: 0;

    }

    .about-text p {
        font-size: 1rem;
        color: var(--black);
    }
    
    #aboutus-img {
        width: 100%;
        height: 300px;
        border-radius: 8px;
    }

    #about-btn  {
        padding: 5px 15px;
    }
    /* ---------------Services--------------*/
    .services-content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1rem 0;
    }

    .services-text h2 {
        font-size: 2rem;
    }

    .box {
        text-align: center;
    }

    .box h4 {
        font-size: 1.1rem;
    }

    .box p {
        display: none;
    }

    .box-5 {
        order: 1;
        margin: 0;
        padding: 0;
    }

    .services-svg {
        width: 2rem;
        margin-top: 1rem;
    }

    .services-btn-text {
        margin-top: 1rem;
    }

    #services-btn  {
        padding: 5px 15px;
        margin: 0.5rem;
    }

    /* ---------------Reviews--------------*/
    .reviews-main {
        padding: 2rem 0;
        height: fit-content;
    }

    .reviews-text h2 {
        font-size: 1.6;
    }

    .reviews-text {
        padding-bottom: 0.5rem;
    }
    /* ---------------Contact--------------*/

    .contact-form h2 {
        font-size: 2rem;
        text-align: center;
    }

    .contact-form h3 {
        font-size: 1rem;
        text-align: center;
    }

}

/* 
==================================================================
                            MEDIA QUERY SMALL SCREEN
==================================================================
*/

@media screen and (max-width: 375px) {
    /* ---------------NavBar--------------*/
    .logo-image {
        margin-left: 0;
    }
    /* ---------------Hero--------------*/
    .main-content {
        padding-top: 2rem;
    }
    /* ---------------Services--------------*/
    .services-svg {
        margin-top: 0.5rem;
    }
    /* ---------------About--------------*/
    .about-text h4 {
        font-size: 1.3rem;
    }
    #aboutus-img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    /* ---------------Reviews--------------*/
    .reviews-main {
        padding: 2rem 0;
        height: fit-content;
    }

    .reviews-text {
        padding-bottom: 1rem;
    }

    .reviews-svg {
        height: 130px;
        width: 130px;
    }
}

/* 
==================================================================
                            MEDIA QUERY FOR SPECIFIC WIDTH
==================================================================
*/

@media screen and (max-width: 834px) {
    .reviews-main {
        height: auto;
    }
    .reviews-text h2 {
        font-size: 2.5rem;
    }

    .reviews-text span {
        font-size: 1rem;
    }
}

@media screen and (max-width: 521px) {
    .reviews-text h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 471px) {
    .reviews-text h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 402px) {
    .footer-flex h1 {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 788px) {
    .footer-flex h1 {
        font-size: 1.6rem;
    }
    
}
@media screen and (max-width: 369px) {
    .footer-flex h1 {
        font-size: 1.2rem;
    }
    
}
@media screen and (max-width: 295px) {

    .main-content {
        padding: 0;
    }

    .main-content h1 {
        font-size: 2.2rem;
    }
}
