<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/patients/PatientAboutUsPage.css">

    <title>Gillego-Flores Dental Clinic</title>

    <!-- Icon properties -->
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/administrator/new-resized-logo.png">
    <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="/assets/administrator/new-resized-logo.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS Link -->
    <link rel="stylesheet" th:href="@{/css/patients/PatientAboutUsPage.css}">

</head>

<body>
<!-- Start of navbar  -->
<div class="nav-container">
    <nav class="navbar">
        <a class="navbar-brand" href="/">
            <div class="logo-image">
                <img src="/assets/patients/logo1.png" class="img-fluid" alt="gfdclogo">
            </div>
        </a>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span> 
        </div>
        <ul class="nav-menu">
            <li><a href="/" class="nav-links nav-links-active">Home</a></li>
            <li><a href="/AboutUs" class="nav-links">About</a></li>
            <li><a href="/Service" class="nav-links">Services</a></li>
            <li><a href="/#reviews" class="nav-links">Reviews</a></li>
            <li><a href="/#contact" class="nav-links">Contact</a></li>
            <li><a href="/patient/login" class="nav-links nav-links-btn">Book Now</a></li>
        </ul>
    </nav>
</div>
<!-- End of navbar  -->

<!-- Start of About  -->
<section class="about__clinic">
    <div class="about__title">
        <h1>Our Clinic</h1>
    </div>
    <div class="clinic__content">
        <div class="clinic__img">
            <img src="/assets/patients/testpic.jpg" alt="Dr. Aileen Photo">
        </div>
        <div class="clinic__text">
        <h3>Gillego-Flores Dental Clinic</h3>
        <h4>Welcome to Gillego-Flroes Dental Clinic, the leading General & Cosmetic Dentistry clinic in Marikina City, Philippines.</h4>
        <p><b>Gillego-Flores Dental Clinic</b> began operations on July 15, 2020. Nevertheless, from 2004 to 2012, my clinic was managed by Centro Medico at Riverbanks Mall. Owing to Riverbanks' rising occupancy rates, our clinic opted to relocate to Benhel Building, a facility diagonally across Riverbanks along Andres Bonifacio Avenue, and was recognized as Clinica Marikina from 2012 until 2020. <br><br> A unexpected change in the management of the abovementioned clinic, along with the non-renovation of the property, prompted me to search for a better location and decided to launch my own clinic. Fortunately, the newly constructed building next to Barangka Elementary School was quite convenient given that the majority of my patients live in the region and are easily accessible.</p>
        </div>
    </div>
</section>

<section class="about__doc">
    <div class="about__title">
        <h1>Our Doctor</h1>
    </div>
    <div class="about__content">
        <div class="about__text">
        <h3>Dr. Adelina Gillego-Flores</h3>
        <p> <b>Dra. Adelina “Aileen” Gillego-Flores</b>
            graduated at University of the East College of Dentistry. She is an active member of the
            Member of the <b>Philippine Dental Association</b> and affiliated with Marikina Chapter. <br><br>
            She have been practicing as a private practitioner since 2004 till 2012 at Centro Medico Multi-Specialty clinics at Riverbanks Arcade.
            We transferred to Clinica Marikina just across Riverbanks from 2012 till 2020. <br><br>
            At present, our clinic Gillego-Flores Dental Clinic is situated at 2F-D Barangka Commercial Space, A. Bonifacio Barangka , Marikina. <br><br>
            Until now, she's still a loyal member of Barangka Credit Cooperative and a volunteer dentist for almost two decades serving our memebers and non-members the like. </p>
        </div>
        <div class="about__img">
        <img src="/assets/patients/testpic_about.jpg" alt="Dr. Aileen Photo">
        </div>
    </div>
</section>
<!-- End of About  -->

<!-- Start of Footer  -->
<footer>
    <div class="footer-container">
        <div class="footer-flex">

            <h1>COME AND VISIT US TODAY!</h1>

            <div class="footer-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d573.853375530884!2d121.0820140633382!3d14.632654263117878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b980e6dcfbd5%3A0x1bc11f33734a681c!2sGillego-Flores%20Dental%20Clinic%20(GFDC)!5e0!3m2!1sen!2sph!4v1672814284137!5m2!1sen!2sph" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            
            <div class="footer-content">
                <div class="location">
                    <div class="content-container">
                        <img src="/assets/patients/location.png" alt="location pin">
                    </div>
                    <p class="content-paragraph">
                        <span class="bold-font">Address:</span><br>
                        2nd Floor, Barangka Commercial Space A. Bonifacio Street, Marikina, Philippines. 
                    </p>
                </div>
                <div class="contact-number">
                    <div class="content-container">
                        <img src="/assets/patients/phone.png" alt="phone logo">
                    </div>
                    <p class="content-paragraph"> <span class="bold-font">Contact Us:</span><br>
                        0917-892-4237 / (02) 7622-3648
                    </p>
                </div>

                <div class="email">
                    <div class="content-container">
                        <img src="/assets/patients/mail.png" alt="email logo">
                    </div>
                    <p class="content-paragraph"><span class="bold-font">Email Us:</span><br>
                        gfdc071520@gmail.com
                    </p>
                </div>

                <div class="social-media">
                    <div class="social-media-container">
                        <a href="https://www.facebook.com/gfdc071520" target="_blank" rel="noopener noreferrer"><img src="/assets/patients/facebook.png" alt="facebook-logo" ></a>
                        <a href="https://www.instagram.com/gf_dental/" target="_blank" rel="noopener noreferrer"><img src="/assets/patients/instagram.png" alt="instagram-logo"></a>
                    </div>
                </div>
            </div>

            <div class="copyright">
                <p>&#169; <span class="bold-font">2023 All Copyrights Reserved to Gillego-Flores Dental Clinic.</span></p>
            </div>
        </div>
    </div>
</footer>

<!-- Javascript Link -->
<script src="./js/LandingPage.js"></script>
</body>
</html>