<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gillego-Flores Dental Clinic</title>

    <link rel="icon" type="image/png" sizes="32x32" href="/assets/administrator/new-resized-logo.png">
    <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="/assets/administrator/new-resized-logo.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- <link rel="stylesheet" href="/admin-system/src/main/resources/static/css/patients/ForgotPassword.css"> -->

    <link rel="stylesheet" th:href="@{css/patients/ForgotPassword.css}">

</head>
    <body>
        <div class="container">
            <div class="back-button">
                <a href="/patient/login">
                    <img src="/assets/patients/back-arrow.svg" alt="back-arrow" />
                </a>
                <a href="/patient/login">Back</a>
            </div>
            <div class="heading">
                <h1>Forgot Password</h1>
                <p>Please provide the correct email address</p>
            </div>
            <form method="Post" action="login" th:object="${patient}">
                <p th:if="${checkEmail}">Email is not yet enabled, please confirm it to your email address.</p>
                <input class="input-email" type="email" name="emailAddress" placeholder="Email Address"
                       th:field="*{emailAddress}">
                <input class="submit" type="submit" value="Send">
            </form>
        </div>
    </body>
</html>