<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/patients/PatientServicesPage.css">

    <title>Gillego-Flores Dental Clinic</title>

        <!-- Icon properties -->
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/administrator/new-resized-logo.png">
        <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="/assets/administrator/new-resized-logo.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    
        <!-- CSS Link -->
        <link rel="stylesheet" th:href="@{/css/patients/PatientServicesPage.css}">
</head>
<body>
    <!-- Start of navbar  -->
<div class="nav-container">
    <nav class="navbar">
        <a class="navbar-brand" href="/">
            <div class="logo-image">
                <img src="/assets/patients/logo1.png" class="img-fluid" alt="gfdclogo">
            </div>
        </a>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span> 
        </div>
        <ul class="nav-menu">
            <li><a href="/" class="nav-links nav-links-active">Home</a></li>
            <li><a href="/AboutUs" class="nav-links">About</a></li>
            <li><a href="/Service" class="nav-links">Services</a></li>
            <li><a href="/#reviews" class="nav-links">Reviews</a></li>
            <li><a href="/#contact" class="nav-links">Contact</a></li>
            <li><a href="/patient/login" class="nav-links nav-links-btn">Book Now</a></li>
        </ul>
    </nav>
</div>
<!-- End of navbar  -->
<!-- Start of Services  -->
<section class="services__main">
    <div class="services__title">
        <h2>OUR SERVICES</h2>
        <p>GFDC offers an affordable yet high quality dental services such as:</p>
    </div>
        <div class="services__container">
            <div class="box-s">
                <h2>Oral Prophylaxis</h2>
                <img src="/assets/patients/oral_prophylaxis.jpg" alt="Oral Prophylaxis">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolore, corrupti aspernatur, eligendi sapiente eaque consectetur totam, dolores aliquam architecto iusto mollitia facilis. Nulla, vitae.</p>
            </div>
            <div class="box-s">
                <h2>Tooth Restoration</h2>
                <img src="/assets/patients/tooth_extraction.jpg" alt="Tooth Extraction">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolore, corrupti aspernatur, eligendi sapiente eaque consectetur totam, dolores aliquam architecto iusto mollitia facilis. Nulla, vitae.</p>
            </div>
            <div class="box-s">
                <h2>Tooth Extraction</h2>
                <img src="/assets/patients/braces_tooth.jpg" alt="Orthodontics">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolore, corrupti aspernatur, eligendi sapiente eaque consectetur totam, dolores aliquam architecto iusto mollitia facilis. Nulla, vitae.</p>
            </div>
            <div class="box-s">
                <h2>Wisdom Tooth Removal</h2>
                <img src="/assets/patients/tooth_resto.jpg" alt="Tooth Restoration">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolore, corrupti aspernatur, eligendi sapiente eaque consectetur totam, dolores aliquam architecto iusto mollitia facilis. Nulla, vitae.</p>
            </div>
            <div class="box-s">
                <h2>Root Canal Treatment</h2>
                <img src="/assets/patients/complete_denture.jpg" alt="Removable Dentures">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolore, corrupti aspernatur, eligendi sapiente eaque consectetur totam, dolores aliquam architecto iusto mollitia facilis. Nulla, vitae.</p>
            </div>
            <div class="box-s">
                <h2>Fixed Dentures </h2>
                <img src="/assets/patients/partial_dentures.jpg" alt="Partial Dentures">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolore, corrupti aspernatur, eligendi sapiente eaque consectetur totam, dolores aliquam architecto iusto mollitia facilis. Nulla, vitae.</p>
            </div>
            <div class="box-s">
                <h2>Removable Dentures</h2>
                <img src="/assets/patients/fixed_partial.jpg" alt="Fixed Partial Dentures">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolore, corrupti aspernatur, eligendi sapiente eaque consectetur totam, dolores aliquam architecto iusto mollitia facilis. Nulla, vitae.</p>
            </div>
            <div class="box-s">
                <h2>Digital Panoramic Xray</h2>
                <img src="/assets/patients/tooth_xray.jpg" alt="Digital Panoramic Xray">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolore, corrupti aspernatur, eligendi sapiente eaque consectetur totam, dolores aliquam architecto iusto mollitia facilis. Nulla, vitae.</p>
            </div>
        </div>
</section>
<!-- End of Services  -->
<!-- Start of Footer  -->
    <!-- Start of footer-->
    <footer>
        <div class="footer-container">
            <div class="footer-flex">

                <h1>COME VISIT US TODAY!</h1>

                <div class="footer-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d573.853375530884!2d121.0820140633382!3d14.632654263117878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b980e6dcfbd5%3A0x1bc11f33734a681c!2sGillego-Flores%20Dental%20Clinic%20(GFDC)!5e0!3m2!1sen!2sph!4v1672814284137!5m2!1sen!2sph" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                
                <div class="footer-content">
                    <div class="location">
                        <div class="content-container">
                            <img src="/assets/patients/location.png" alt="location pin">
                        </div>
                        <p class="content-paragraph">
                            <span class="bold-font">Address:</span><br>
                            2nd Floor, Barangka Commercial Space A. Bonifacio Street, Marikina, Philippines. 
                        </p>
                    </div>
                    <div class="contact-number">
                        <div class="content-container">
                            <img src="/assets/patients/phone.png" alt="phone logo">
                        </div>
                        <p class="content-paragraph"> <span class="bold-font">Contact Us:</span><br>
                            0917-892-4237 / (02) 7622-3648
                        </p>
                    </div>

                    <div class="email">
                        <div class="content-container">
                            <img src="/assets/patients/mail.png" alt="email logo">
                        </div>
                        <p class="content-paragraph"><span class="bold-font">Email Us:</span><br>
                            gfdc071520@gmail.com
                        </p>
                    </div>

                    <div class="social-media">
                        <div class="social-media-container">
                            <a href="https://www.facebook.com/gfdc071520" target="_blank" rel="noopener noreferrer"><img src="/assets/patients/facebook.png" alt="facebook-logo" ></a>
                            <a href="https://www.instagram.com/gf_dental/" target="_blank" rel="noopener noreferrer"><img src="/assets/patients/instagram.png" alt="instagram-logo"></a>
                        </div>
                    </div>
                </div>

                <div class="copyright">
                    <p>&#169; <span class="bold-font">2023 All Copyrights Reserved to Gillego-Flores Dental Clinic.</span></p>
                </div>
            </div>
        </div>
    </footer>
<!-- End of Footer  -->
</body>
<!-- JS Link  -->
<script src="/javascript/patients/LandingPage.js"></script>
</html>