<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gillego-Flores Dental Clinic</title>

    <link rel="icon" type="image/png" sizes="32x32" href="/assets/administrator/new-resized-logo.png">
    <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="/assets/administrator/new-resized-logo.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <!-- Css -->

    <!-- This link is for web view only -->
    <!--<link rel="stylesheet" href="css/PatientLoginPage.css">-->

    <link rel="stylesheet" href="/css/patients/PatientLoginPage.css">

    <!-- JavaScript -->
    

</head>
    <body>
        <!-- Navbar Section -->
        <div class="nav-container">
            <nav class="navbar">
                <a class="navbar-brand" href="/">
                    <div class="logo-image">
                        <img src="/assets/patients/logo1.png" class="img-fluid" alt="gfdclogo">
                    </div>
                </a>
                <div class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span> 
                </div>
                <ul class="nav-menu">
                    <li><a href="/" class="nav-links">Home</a></li>
                    <li><a href="/AboutUs" class="nav-links">About Us</a></li>
                    <li><a href="#" class="nav-links">Services</a></li>
                    <li><a href="#" class="nav-links">Reviews</a></li>
                    <li><a href="#" class="nav-links">Contact Us</a></li>
                    <li><a href="/patient/login" class="nav-links nav-links-btn">Book Now</a></li>
                </ul>
            </nav>
        </div>

        <!-- Forms and Carousel Section -->
        <div class="body-container">
            <div class="main-container">
                <div class="main-container-images">
                
                    <div id="carouselExampleControls" class="carousel carousel-dark slide shadow-lg rounded-4 " data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="3000">
                                <img src="/assets/patients/logo_2.jpg" class="d-block " alt="Logo_with_name">
                            </div>
                            <div class="carousel-item " data-bs-interval="3000">
                                <img src="/assets/patients/New_year_photo.jpg" class="d-block " alt="New_year_photo">
                            </div>
                            <div class="carousel-item " data-bs-interval="3000">
                                <img src="/assets/patients/Safety-Messures.jpg" class="d-block " alt="Logo">
                            </div>
                            <div class="carousel-item " data-bs-interval="3000">
                                <img src="/assets/patients/Opening_Hours.png" class="d-block " alt="Safety_Messures">
                            </div>
                            <div class="carousel-item " data-bs-interval="3000">
                                <img src="/assets/patients/logo.png" class="d-block " alt="Safety_Messures">
                            </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                
                <div class="main-container-forms">
                    <h1>Sign In</h1>
                    <form method="Post" action="login" >
                        <input type="text" name="username" placeholder="Email Address">
                        <input type="password" name="password" placeholder="Password">
                        <input type="submit" value="Login">
                        <div class="patient-account-request">
                            <a  href="/patient/registration">Sign Up</a>
                            <a  href="#">Forgot Password</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <!-- Footer Section -->
        <footer>
            <div class="footer-container">
                <div class="footer-flex">

                    <h1>COME VISIT US TODAY!</h1>

                    <div class="footer-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d573.853375530884!2d121.0820140633382!3d14.632654263117878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b980e6dcfbd5%3A0x1bc11f33734a681c!2sGillego-Flores%20Dental%20Clinic%20(GFDC)!5e0!3m2!1sen!2sph!4v1672814284137!5m2!1sen!2sph" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    
                    <div class="footer-content">
                        <div class="location">
                            <div class="content-container">
                                <img src="/assets/patients/location.png" alt="location pin">
                            </div>
                            <p class="content-paragraph">
                                <span class="bold-font">Address:</span><br>
                                2nd Floor, Barangka Commercial Space A. Bonifacio Street, Marikina, Philippines. 
                            </p>
                        </div>
                        <div class="contact-number">
                            <div class="content-container">
                                <img src="/assets/patients/phone.png" alt="phone logo">
                            </div>
                            <p class="content-paragraph"> <span class="bold-font">Contact Us:</span><br>
                                0917-892-4237 / (02) 7622-3648
                            </p>
                        </div>

                        <div class="email">
                            <div class="content-container">
                                <img src="/assets/patients/mail.png" alt="email logo">
                            </div>
                            <p class="content-paragraph"><span class="bold-font">Email Us:</span><br>
                                gfdc071520@gmail.com
                            </p>
                        </div>

                        <div class="social-media">
                            <div class="social-media-container">
                                <a href="https://www.facebook.com/gfdc071520" target="_blank" rel="noopener noreferrer"><img src="/assets/patients/facebook.png" alt="facebook-logo" ></a>
                                <a href="https://www.instagram.com/gf_dental/" target="_blank" rel="noopener noreferrer"><img src="/assets/patients/instagram.png" alt="instagram-logo"></a>
                            </div>
                        </div>
                    </div>

                    <div class="copyright">
                        <p>&#169; <span class="bold-font">2023 All Copyrights Reserved to Gillego-Flores Dental Clinic.</span></p>
                    </div>
                </div>
            </div>
        </footer>
        <script src="javascript/patients/LandingPage.js"></script>
    </body>
</html>