@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    font-family: 'Ubuntu', serif;
    font-size: 12px;
    /* Pink */
    --bg-primary-color:#f2a7a7;
    --bg-active-color: #D95F76;
    --bg-main-heading: #FFF5E4;
    --nav-text-color: #ffffff;
    --text-color: #000000;
    --min-width: 1080px;
}

* {
    font-family: 'Ubuntu', serif;
    margin: 0;
    padding: 0;
}

/* 
==================================================================
                            Container
==================================================================
*/

.main-container {
    width: 100%;
    /* width: 0 auto; */
}

.flex-container {
    display: flex;
    flex-direction: column;
}

/* 
==================================================================
                            Side Navigation
==================================================================
*/

.main-container-side-navbar {
    max-width: 18rem;
    width: 18rem;
    background-color: var(--bg-primary-color);
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.logout-button {
    margin-top: auto;
    margin-bottom: 5rem;
    text-align: center;
    text-transform: uppercase;
} 

.logout-button a {
    padding: 1rem 5rem;
    border: solid var(--nav-text-color) 3px;
    border-radius: 5px;
    transition-duration: 500ms;
}

.logout-button a:hover {
    border: solid var(--bg-active-color) 3px;
    background-color: white;
    color: var(--bg-active-color);
}

.admin-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
    padding: 1rem 0;
    margin: 1rem 0 1rem 0;
    width: 100%;
    font-size: .90rem;
}

.admin-logo img{
    width: 4rem;
    margin: 0 1rem;
}

.main-container-side-navbar ul{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-transform: uppercase;
}

.main-container-side-navbar li{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: .5rem;
    padding: .25rem 0 .25rem 3rem;
    width: inherit;
    border-left: solid var(--bg-primary-color) 5px;
    transition-duration: 500ms;
}


.main-container-side-navbar li img {
    width: 3rem;
    margin: 0 1rem 0 0;
}

.main-container-side-navbar a {
    text-decoration: none;
    color: var(--nav-text-color);
    font-size: 1rem;
    font-weight: 700;
}

.main-container-side-navbar li:hover {
    background-color: var(--bg-active-color);
    border-color: #ffffff;
}

/* 
==================================================================
                            Main
==================================================================
*/

.main {
    margin-left: 18rem;
    height: 100vh;
}

.main-container-body {
    max-width: var(--min-width);
    margin-left: 1.5rem;
   
}

.main-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
    font-size: 1rem;
    background-color: var(--bg-main-heading);
}

.main-heading-title p {
    font-weight: 400;
    margin-left: .3rem;
}

.main-heading img {
    max-width: 6rem;
    margin: 0 .5rem 0 1.2rem ;
}

.main-container-schedule {
    margin-top: 5rem;
}

.main-container-list {
    display: flex;
    margin-top: 5rem;
    justify-content: center;
}
